<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hee.kwnoti">

    <!-- 권한 설정은 따로 필요가 없으나 PlayStore 검색 옵션을 위한 명시적 권한 설정임. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->

    <application
        android:name=".ApplicationBase"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- ==================================== 푸쉬 서비스 ==================================== -->
        <service
            android:name=".FcmService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- 토큰 등록 서비스 -->
        <service
            android:name=".FcmIdService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ================================= 스플래시 액티비티 ================================== -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- =================================== 메인 액티비티 =================================== -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- ================================= 유캠퍼스 액티비티 ================================== -->
        <activity
            android:name=".u_campus_activity.UCampusMainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".u_campus_activity.UCampusListActivity"
            android:configChanges="orientation|screenSize" />
        <!-- ================================= 공지사항 액티비티 ================================== -->
        <activity
            android:name=".info_activity.InfoActivity"
            android:configChanges="orientation|screenSize" />
        <!-- ================================= 학사일정 액티비티 ================================== -->
        <activity android:name=".calendar_activity.CalendarActivity" />
        <!-- ================================== 학생증 액티비티 =================================== -->
        <activity
            android:name=".student_card_activity.StudentCardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize" />
        <!-- ================================= 교내전화 액티비티 ================================== -->
        <activity android:name=".tel_activity.TelActivity" />
        <!-- =================================== 학식 액티비티 =================================== -->
        <activity android:name=".food_activity.FoodActivity" />
        <!-- =================================== 설정 액티비티 =================================== -->
        <activity android:name=".settings_activity.SettingsActivity" />
        <!-- 학생증 크롭 액티비티 -->
        <activity android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--<intent-filter>-->

            <!--</intent-filter>-->
        </activity>
        <!-- 앱 정보 액티비티 -->
        <activity
            android:name=".settings_activity.AppInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 푸쉬 필터 액티비티 -->
        <activity android:name=".settings_activity.PushFilterActivity">
            <intent-filter>
                <action android:name="hee.kwnoti.intent.action.PUSH_FILTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- ================================= 브라우저 액티비티 ================================== -->
        <activity
            android:name=".BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop" />
        <!-- =============================== 올레 와이파이 액티비티 ================================ -->
        <activity android:name=".wifi_activity.WifiActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>